@tailwind base;
@tailwind components;
@tailwind utilities;

.app-header {
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.app-main {
  min-height: calc(100vh - 70px - 60px);
  margin-top: 70px;
}
.app-footer {
  height: 60px;
}

.home-page {
  height: calc(100vh - 70px - 60px);
}

.tabs-fade-enter {
  opacity: 0;
}
.tabs-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.tabs-fade-exit {
  opacity: 1;
}
.tabs-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.modal-fade-enter {
  opacity: 0;
}
.modal-fade-enter > div {
  transform: scale(0.5);
}
.modal-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.modal-fade-enter-active > div {
  transform: scale(1);
  transition: transform 300ms;
}
.modal-fade-exit {
  opacity: 1;
}
.modal-fade-exit > div {
  transform: scale(1);
}
.modal-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.modal-fade-exit-active > div {
  transform: scale(0.5);
  transition: transform 300ms;
}
